<div class="auth-page">
  <div class="auth-card">
    <div class="tabs">
      <button class="tab" [class.active]="formAuthActif('Login')" (click)="changeView('Login')">
        Login
      </button>
      <button
        class="tab"
        [class.active]="formAuthActif('Register')"
        (click)="changeView('Register')"
      >
        Sign Up
      </button>
    </div>

    <div class="form-body">
      <form id="login-form" [formGroup]="loginForm" [class.active-form]="formAuthActif('Login')">
        <h1>Welcome Back</h1>

        <div class="input-group">
          <img class="icon" src="/assets/icons/e-mail.png" alt="" />
          <input type="email" formControlName="emailId" required placeholder="Email" />
        </div>
        <div class="text-danger">
          @if (
            loginForm.get('emailId')?.touched && loginForm.get('emailId')?.errors?.['required']
          ) {
            <span>Email required</span>
          }

          @if (loginForm.get('emailId')?.errors?.['email']) {
            <span>Invalid email</span>
          }
        </div>

        <div class="input-group">
          <img class="icon" src="/assets/icons/verr-alt.png" alt="" />
          <input type="password" formControlName="password" required placeholder="Password" />
          <img class="icon" src="/assets/icons/oeil.png" alt="" />
        </div>
        <div class="text-danger">
          @if (
            loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']
          ) {
            <span>Password required</span>
          }
        </div>

        <div class="form-options">
          <label class="remember">
            <input type="checkbox" />
            <span>Remember me</span>
          </label>

          <a href="#" class="forgot-link">Forgot Password?</a>
        </div>

        <div class="btn-submit">
          <button
            type="button"
            (click)="onLogin()"
            [disabled]="loginForm.invalid || isSubmitting"
            class="login-btn"
          >
            Login
          </button>
        </div>

        <p class="divider-text">Or login with</p>

        <div class="social-login">
          <button type="button" class="social-btn">G</button>
          <button type="button" class="social-btn">f</button>
          <button type="button" class="social-btn">in</button>
        </div>
      </form>

      <form
        id="register-form"
        [formGroup]="registerForm"
        [class.active-form]="formAuthActif('Register')"
      >
        <h1>Create Account</h1>

        <div class="input-group">
          <img class="icon" src="/assets/icons/utilisateur.png" alt="" />
          <input type="text" formControlName="fullName" required placeholder="Pseudo" />
        </div>
        <div class="text-danger">
          @if (
            registerForm.get('fullName')?.touched &&
            registerForm.get('fullName')?.errors?.['required']
          ) {
            <span>Pseudo required</span>
          }
        </div>

        <div class="input-group">
          <img class="icon" src="/assets/icons/e-mail.png" alt="" />
          <input type="email" formControlName="emailId" required placeholder="Email" />
        </div>
        <div class="text-danger">
          @if (
            registerForm.get('emailId')?.touched &&
            registerForm.get('emailId')?.errors?.['required']
          ) {
            <span>Email required</span>
          }

          @if (registerForm.get('emailId')?.errors?.['email']) {
            <span>Invalid email</span>
          }
        </div>

        <div class="input-group">
          <img class="icon" src="/assets/icons/verr-alt.png" alt="" />
          <input type="password" formControlName="password" required placeholder="Password" />
          <img class="icon" src="/assets/icons/oeil.png" alt="" />
        </div>
        <div class="text-danger">
          @if (
            registerForm.get('password')?.touched &&
            registerForm.get('password')?.errors?.['required']
          ) {
            <span>Password required</span>
          }

          @if (registerForm.get('password')?.errors?.['pattern']) {
            <span
              >The password must contain an uppercase and lowercase letter, a special character, and
              be at least 8 characters long.</span
            >
          }
        </div>

        <div class="input-group">
          <img class="icon" src="/assets/icons/verr-alt.png" alt="" />
          <input
            type="password"
            formControlName="confirmPassword"
            required
            placeholder="Confirm Password"
          />
        </div>
        <div class="text-danger">
          @if (
            registerForm.get('confirmPassword')?.touched &&
            registerForm.get('confirmPassword')?.errors?.['required']
          ) {
            <span>Confirm password required</span>
          }

          @if (!passwordMatch() && registerForm.get('confirmPassword')?.touched) {
            <span>Passwords do not match</span>
          }
        </div>
        <div class="form-options">
          <label class="remember">
            <input type="checkbox" />
            <span
              >I agree to the <a href="#" class="forgot-link">Terms of Service</a> and
              <a href="#" class="forgot-link">Privacy Policy</a></span
            >
          </label>
        </div>

        <div class="btn-submit">
          <button
            type="button"
            (click)="onRegister()"
            [disabled]="registerForm.invalid || !passwordMatch() || isSubmitting"
            class="login-btn"
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
