@import '../auth-page/auth-page.css';

.divider-text {
  text-align: center;
  color: #666;
  font-size: 18px;
  margin: 34px 0 18px;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-btn {
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 20%;
  background: white;
  color: #666;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}